[submodule "implementations/TruffleSOM"]
	path = implementations/TruffleSOM
	url = https://github.com/SOM-st/TruffleSOM.git
[submodule "implementations/SOMns"]
	path = implementations/SOMns
	url = https://github.com/smarr/SOMns.git
[submodule "implementations/JRuby"]
	path = implementations/JRuby
	url = https://github.com/jruby/jruby.git
[submodule "implementations/TruffleSOM-TOM"]
	path = implementations/TruffleSOM-TOM
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/Topaz"]
	path = implementations/Topaz
	url = https://github.com/topazproject/topaz
[submodule "implementations/RSqueak"]
	path = implementations/RSqueak
	url = https://github.com/HPI-SWA-Lab/RSqueak.git
[submodule "implementations/SOM"]
	path = implementations/SOM
	url = https://github.com/SOM-st/som-java.git
[submodule "implementations/SOMpp"]
	path = implementations/SOMpp
	url = https://github.com/SOM-st/SOMpp.git
[submodule "implementations/graal"]
	path = implementations/graal
	url = https://github.com/smarr/GraalBasic.git
[submodule "implementations/SOMppOMR"]
	path = implementations/SOMppOMR
	url = https://github.com/SOM-st/SOMpp.git
[submodule "implementations/RTruffleSOM"]
	path = implementations/RTruffleSOM
	url = http://github.com/SOM-st/RTruffleSOM.git
