[submodule "implementations/graal"]
	path = implementations/graal
	url = https://github.com/smarr/GraalVM.git
[submodule "implementations/jruby"]
	path = implementations/jruby
	url = https://github.com/jruby/jruby.git
[submodule "implementations/classic-benchmarks"]
	path = implementations/classic-benchmarks
	url = https://github.com/smarr/Classic-Benchmarks.git
[submodule "implementations/TruffleSOM"]
	path = implementations/TruffleSOM
	url = https://github.com/SOM-st/TruffleSOM
[submodule "implementations/RTruffleSOM"]
	path = implementations/RTruffleSOM
	url = https://github.com/SOM-st/RTruffleSOM
[submodule "implementations/RPySOM"]
	path = implementations/RPySOM
	url = https://github.com/SOM-st/RPySOM.git
[submodule "implementations/SOMpp"]
	path = implementations/SOMpp
	url = https://github.com/SOM-st/SOMpp.git
[submodule "implementations/CSOM"]
	path = implementations/CSOM
	url = https://github.com/SOM-st/CSOM.git
[submodule "implementations/SOM"]
	path = implementations/SOM
	url = https://github.com/SOM-st/som-java.git
[submodule "implementations/luajit"]
	path = implementations/luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "implementations/SOMns"]
	path = implementations/SOMns
	url = https://github.com/smarr/SOMns.git
