[submodule "implementations/graal"]
	path = implementations/graal
	url = https://github.com/smarr/graal.git
[submodule "implementations/classic-benchmarks"]
	path = implementations/classic-benchmarks
	url = https://github.com/smarr/Classic-Benchmarks.git
[submodule "implementations/TruffleSOM"]
	path = implementations/TruffleSOM
	url = https://github.com/smarr/TruffleSOM
[submodule "implementations/RTruffleSOM"]
	path = implementations/RTruffleSOM
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/TruffleSOM-OMOP"]
	path = implementations/TruffleSOM-OMOP
	url = https://github.com/smarr/TruffleSOM.git
[submodule "implementations/RTruffleSOM-OMOP"]
	path = implementations/RTruffleSOM-OMOP
	url = https://github.com/smarr/RTruffleSOM.git
[submodule "implementations/jruby"]
	path = implementations/jruby
	url = https://github.com/smarr/jruby.git
[submodule "implementations/jruby-benchmarks"]
	path = implementations/jruby-benchmarks
	url = https://github.com/smarr/bench9000.git
