binary "default", "JAVACMD=#{ENV['JRUBY']}/graalvm-jdk1.8.0/bin/java #{ENV['JRUBY']}/bin/jruby", "-J-Xmx2G -J-d64 -J-server -J-G:+TruffleCompilationExceptionsAreFatal -X+T"
binary "no-meta-cache", "JAVACMD=#{ENV['JRUBY']}/graalvm-jdk1.8.0/bin/java #{ENV['JRUBY']}/bin/jruby", "-J-Xmx2G -J-d64 -J-server -J-G:+TruffleCompilationExceptionsAreFatal -X+T -Xtruffle.dispatch.metaprogramming_always_uncached=true"
binary "meta-calls-as-indirect", "JAVACMD=#{ENV['JRUBY']}/graalvm-jdk1.8.0/bin/java #{ENV['JRUBY']}/bin/jruby", "-J-Xmx2G -J-d64 -J-server -J-G:+TruffleCompilationExceptionsAreFatal -X+T -Xtruffle.dispatch.metaprogramming_always_indirect=true"

command "perf-eval" do

  def result(options, b, i, measurement)
    measurement.samples.each do |s|
      puts "jruby-#{i.name} #{b.name} #{s}"
    end
  end

end
